<!DOCTYPE html>
<html>
<head>
<title>MovieViz</title>
</head>
<body>
<h1>{{ statement }}</h1>
<p>Click the button (or follow the URL) to get to your own page for playing around with your visualizations</p>
<p>Save your css and js files in /static/"respective folder"</p>
<button onclick='location.href="/dhruv"'>Dhruv's Page</button><br>
<button onclick='location.href="/sahaj"'>Sahaj's Page</button><br>
<button onclick='location.href="/sana"'>Sana's Page</button><br>
<button onclick='location.href="/manoaj"'>Manoaj's Page</button><br>
<br>
<button onclick='location.href="/miserables"'>Miserables Example</button>
</body>
</html>