<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="static/css/reset.css">
  	<link rel="stylesheet" href="static/css/bubble_chart.css">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body>
	<div id="nav">
		<div id="tab1" style="display:inline-block;">
			<h2>Tab 1</h2>
			<select id="attribute1" class="form-control">
				<option value="-1">Choose an Attribute</option>
				{% for attribute in attributes%}
				<option value="{{loop.index0}}">{{attribute}}</option>
				{% endfor %}
			</select>
		</div>
		<div id="tab2" style="display:inline-block;">
			<h2>Tab 2</h2>
			<select id="attribute2" class="form-control">
				<option value="-1">Choose an Attribute</option>
				{% for attribute in attributes%}
				<option value="{{loop.index0}}">{{attribute}}</option>
				{% endfor %}
			</select>
		</div>
		<div id="tab3" style="display:inline-block;">
			<h2>Tab 3</h2>
			<select id="attribute3" class="form-control">
				<option value="-1">Choose an Attribute</option>
				{% for attribute in attributes%}
				<option value="{{loop.index0}}">{{attribute}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div id="viz">
		<div id="viz1Container">
			<h2 id="viz1">Viz 1</h2>
		</div>
		<div id="viz2Container">
			<h2 id="viz2">Viz 2</h2>
		</div>
		<div id="viz3Container">
			<h2 id="viz3">Viz 3</h2>
		</div>
	</div>

	<script src="static/js/d3.js"></script>
 	<script src="static/js/tooltip.js"></script>
 	<script src="static/js/bubble_chart.js"></script>
 	<script type="text/javascript">
 		var attributes = {{ attributes|safe }};
 	</script>
 	<script src="static/js/vizController.js"></script>

	
</body>
</html>