<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
	<div id="nav">
		<div id="tab1" style="display:inline-block;">
			<h2>Tab 1</h2>
			<select id="attribute1">
				<option value="-1">Choose an Attribute</option>
				{% for attribute in attributes%}
				<option value="{{loop.index0}}">{{attribute}}</option>
				{% endfor %}
			</select>
		</div>
		<div id="tab2" style="display:inline-block;">
			<h2>Tab 2</h2>
			<select id="attribute2">
				<option value="-1">Choose an Attribute</option>
				{% for attribute in attributes%}
				<option value="{{loop.index0}}">{{attribute}}</option>
				{% endfor %}
			</select>
		</div>
		<div id="tab3" style="display:inline-block;">
			<h2>Tab 3</h2>
			<select id="attribute3">
				<option value="-1">Choose an Attribute</option>
				{% for attribute in attributes%}
				<option value="{{loop.index0}}">{{attribute}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div id="viz">
		<div id="viz1Container">
			<h2 id="viz1">Viz 1</h2>
		</div>
		<div id="viz2Container">
			<h2 id="viz2">Viz 2</h2>
		</div>
		<div id="viz3Container">
			<h2 id="viz3">Viz 3</h2>
		</div>
	</div>

	<script>
		var attributes = {{ attributes|safe }};

		console.log(attributes)

		function showViz1() {
			$('#viz2Container').hide();
			$('#viz3Container').hide();
			$('#viz1Container').show();
		}

		function showViz2() {
			$('#viz1Container').hide();
			$('#viz3Container').hide();
			$('#viz2Container').show();
		}

		function showViz3() {
			$('#viz1Container').hide();
			$('#viz2Container').hide();
			$('#viz3Container').show();
		}

		function baseViz1() {

			$('#viz1').text('Base Viz 1')
		}

		function baseViz2() {

			$('#viz2').text('Base Viz 2')
		}

		function baseViz3() {

			$('#viz3').text('Base Viz 3')
		}

		function updateViz1(value) {
			$('#viz1').text('Viz 1 updated based on ' + attributes[value])
		}

		function updateViz2(value) {
			
			$('#viz2').text('Viz 2 updated based on ' + attributes[value])
		}

		function updateViz3(value) {
			
			$('#viz3').text('Viz 3 updated based on ' + attributes[value])
		}


		$('#attribute1').change(function() {
			var selectedValue = $(this).val();
			if (selectedValue == -1) {
				$('#tab2').hide();
				$('#tab3').hide();

				$('#attribute2').val('-1');
				$('#attribute3').val('-1');

				baseViz2();
				baseViz3();

				showViz1()
				baseViz1();
			} else {
				$('#tab2').show();

				showViz1();
				updateViz1(selectedValue);
			}
		});

		$('#attribute2').change(function() {
			var selectedValue = $(this).val();
			if (selectedValue == -1) {
				$('#tab3').hide();

				$('#attribute3').val('-1');

				baseViz3();

				showViz2();
				baseViz2();
			} else {
				$('#tab3').show();

				showViz2();
				updateViz2(selectedValue);

			}
		});

		$('#attribute3').change(function() {
			var selectedValue = $(this).val();
			if (selectedValue == -1) {

				showViz3();
				baseViz3();
			} else {

				showViz3();
				updateViz3(selectedValue);

			}
		});

		$('#tab1').click(function() {
			showViz1();
		})

		$('#tab2').click(function() {
			showViz2();
		})

		$('#tab3').click(function() {
			showViz3();
		})

		
		$('#tab1').show();
		$('#tab2').hide();
		$('#tab3').hide();

		showViz1();

		baseViz1();
		baseViz2();
		baseViz3();
		

	</script>
	
</body>
</html>